<div class="container mt-5">
  <!--databinding-->
  <!-- <div>
    <label>data-binding server name</label>
    <input 
      type="text"
      class="form-control"
      (input)="onUpdateServerName($event)" >
    <p>{{serverName}}</p>
    <br>
    <label>server name</label>
    <input 
      type="text"
      class="form-control"
      [(ngModel)]="serverName" >
    <p>{{serverName}}</p>
  </div>
  <button 
    class="btn btn-primary mb-5"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">add server</button>
  <p [innerText]="!allowNewServer"></p>
  <p>{{serverCreationStatus}}</p> -->
  <!-- <app-server></app-server> -->
  <!--directives-->
  <div>
    <label>directive server name</label>
    <input 
      type="text"
      class="form-control"
      [(ngModel)]="directiveName" >
  </div>
  <div>
    <button 
    class="btn btn-primary mb-5"
    [disabled]="!allowNewDirective"
    (click)="onCreateDirective()">add Directive</button>
    <p *ngIf="directiveCreated; else noServer">directive name is {{directiveName}}</p>
    <ng-template #noServer>
      <p>no server!!!!</p>
    </ng-template>
  </div>
  <app-server
    *ngFor="let ngForServer of ngForServers"></app-server>
</div>
