<!-- assignment1 -->
<!-- <div class="container mt-5">
  <input type="text" [(ngModel)]="username">
  <p>{{username}}</p>
  <button 
    class="btn btn-primary"
    (click)="onReset()"
    [disabled]="username === ''">reset</button>   
</div> -->

<!-- data-binding -->
<!-- <div class="container">
  <app-servers></app-servers>
</div> -->

<!-- directives -->
<!-- <div class="container">
  <app-servers></app-servers>
</div> -->
<!-- assignment-three -->
<div class="container">
  <app-assignment-three></app-assignment-three>
</div>
